<!DOCTYPE html>
<html>
<head>
    <title>Komponenty</title>
</head>
<body>
    <h1>Seznam komponent</h1>
    <ul>
        {{#komponenty}}
        <li>{{.}}</li>
        {{/komponenty}}
    </ul>
</body>
</html>
