 <!DOCTYPE html>
<html>
    <head>
        <meta name="Virtuální knihovna" lang="cz">
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Virtuální knihovna</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="vrsek">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>  
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>  
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>  
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>  
            <div class="policka">
                <img src="images/Bookshelf.png">
            </div>  
        </div>
    </body>
</html>